.perfume-card {
    padding: 15px;
    border-radius: 10px;
    background: #f8f8f8;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s;
  }
  
  .perfume-card:hover {
    transform: scale(1.02);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
  }
  
  
  h3 {
    font-size: 20px;
    color: #4A3F35;
  }
  
  p {
    font-size: 14px;
    color: #666;
  }
  
  .admin-buttons {
    margin-top: 10px;
  }
  
  .edit-btn, .delete-btn {
    border: none;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
  }
  
  .edit-btn {
    background-color: #C9A66B;
    color: white;
    margin-right: 5px;
  }
  
  .edit-btn:hover {
    background-color: #A8895D;
  }
  
  .delete-btn {
    background-color: #D9534F;
    color: white;
  }
  
  .delete-btn:hover {
    background-color: #C9302C;
  }
  