<div class="agregar-perfume-container">
    <h2>Agregar Nuevo Perfume</h2>
  
    <form (submit)="agregarPerfume()">
      <label for="nombre">Nombre del Perfume:</label>
      <input type="text" id="nombre" [(ngModel)]="nombre" name="nombre" required>
  
      <label for="notas">Notas del Perfume (separadas por coma):</label>
      <input type="text" id="notas" [(ngModel)]="notas" name="notas" required>
  
      <button type="submit" class="agregar-btn">Agregar Perfume</button>
    </form>
  
    <!-- Mensaje de confirmación -->
    <p *ngIf="mensaje" class="mensaje">{{ mensaje }}</p>
  
    <!-- Botón para volver a Home -->
    <button class="volver-btn" (click)="volverAHome()">Volver a Home</button>
  </div>
  