/* Contenedor del header con el botón de cerrar sesión */
.home-header {
    display: flex;
    justify-content: space-between; /* Separa el título del botón */
    align-items: center;
    padding: 20px;
    background: #f5f5f5;
    border-bottom: 2px solid #ddd;
    height: 5vh;
  }
  
  /* Botón de cerrar sesión */
  .logout-button {
    background: #d9534f; /* Rojo elegante */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
    font-size: 1rem;
  }
  
  .logout-button:hover {
    background: #c9302c;
  }
  

.perfumes-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  /* Contenedor de la paginación */
  .paginacion {
    display: flex;
    justify-content: center; /* Centra los botones */
    align-items: center;
    margin-top: 30px; /* Espacio para separarlo de los perfumes */
    padding: 15px;
  }
  
  /* Estilo de los botones de paginación */
  .paginacion button {
    background: #9c6644; /* Marrón sofisticado */
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
    font-size: 1rem;
  }
  
  /* Hover para los botones */
  .paginacion button:hover {
    background: #7d4a32;
  }
  
  /* Estilo cuando el botón está deshabilitado */
  .paginacion button:disabled {
    background: #ccc;
    cursor: not-allowed;
  }
  