<div class="home-header">
  <h1>PerfumesLux</h1>
  <button class="agregar-perfume-button" *ngIf="isAdmin" (click)="agregarPerfume()">Agregar Perfume</button>
  <button class="listas-button" (click)="verMisListas()">Mis Listas</button>
  <button class="logout-button" (click)="logout()">Cerrar Sesión</button>
  <!-- Mostrar el botón de Agregar Perfume solo si es Admin -->
  
</div>

<div class="search-container">
  <input 
    type="text" 
    placeholder="Buscar perfumes..." 
    [formControl]="searchControl"
  />
</div>


<div class="perfumes-container">
  <app-perfume 
    *ngFor="let perfume of perfumes" 
    [perfume]="perfume" 
    [isAdmin]="isAdmin" 
    (seleccionPerfume)="navegarADetalles($event)">
  </app-perfume>
</div>

<div class="paginacion">
  <button (click)="anterior()" [disabled]="paginaActual === 1">Anterior</button>
  <button (click)="siguiente()">Siguiente</button>
</div>
