/* Contenedor del header con el botón de cerrar sesión */
.home-header {
  display: flex;
  justify-content: space-between; /* Esto coloca los elementos a los extremos */
  align-items: center;  /* Alinea verticalmente los elementos */
  padding: 10px 20px;
  background-color: #f8f1e4;
}
  
  /* Botón de cerrar sesión */
  .listas-button {
    background-color: #ff7043;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    font-size: 16px;
    transition: background 0.3s;
  }
  
  .listas-button:hover {
    background-color: #e64a19;
  }
  
  .logout-button {
    background-color: #ff7043;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
  }
  
  .logout-button:hover {
    background-color: #e64a19;
  }
  

.perfumes-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  /* Contenedor de la paginación */
  .paginacion {
    display: flex;
    justify-content: center; /* Centra los botones */
    align-items: center;
    margin-top: 30px; /* Espacio para separarlo de los perfumes */
    padding: 15px;
  }
  
  /* Estilo de los botones de paginación */
  .paginacion button {
    background: #9c6644; /* Marrón sofisticado */
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
    font-size: 1rem;
  }
  
  /* Hover para los botones */
  .paginacion button:hover {
    background: #7d4a32;
  }
  
  /* Estilo cuando el botón está deshabilitado */
  .paginacion button:disabled {
    background: #ccc;
    cursor: not-allowed;
  }
  
  .agregar-perfume-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .agregar-perfume-button:hover {
    background-color: #45a049;
  }